In [ ]:
x = 10
result = "Even" if x%2 == 0 else "Odd"
print(result)

Even

In [7]:
x = int(input("Enter your number : "))
result = "It's a Multiplication of 3 and It's Even" if x%2 == 0 and x%3 == 0 else "Not Okay"
print(result)

Not Okay

In [10]:
response_code = 203

match response_code:
    case 200:
        print("OK")
    case 201:
        print("Created")
    case 404:
        print("Not Found")
    case 500:
        print("Internal Server Error")
    case _:
        print("Something else")

Something else

In [20]:
x = int(input("Enter your number"))

match x:
    case 0:
        print("Zero")
    case -1:
        print("Negative One")
    case 1:
        print("Positive One")
    case x if x > 1:
        print("Positive number greater than one")
    case x if x < -1:
        print("Negative number less than negative one")
    case _:
        print("Unmatched Case")

Negative number less than negative one

In [23]:
number = [4, 3, 7]

match number:
    case[x, y]:
        print(x * y)
    case[x, y, z]:
        print(x + y + z)
    case _:
        print("The list does not containt 2 or 3 numbers!")

14

In [40]:
list = [1, 2]

match list:
    case []:
        print("Empty List")
    case list if len(list) == 1:
        print("List has a single element")
    case list if len(list) == 2:
        print("List has two elements")
    case _:
        print("This is something else")

List has two elements

In [27]:
list = []

match list:
    case []:
        print("Empty List")
    case [x]:
        print("List has a single element")
    case [x, y]:
        print("List has two elements")
    case _:
        print("This is something else")

Empty List

In [48]:
x = []

match list:
    case []:
        print("Empty List")
    case [x]:
        print("List has a single element")
    case [x, y]:
        print("List has two elements")
    case _:
        print("This is something else")

List has two elements

In [52]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [54]:
my_list = [2, 5, 8]

list_1 = []

for mylist in my_list:
    list_1.append(mylist ** 2)

print(list_1)

[4, 25, 64]

In [57]:
my_list = [2, 3, 4, 5]

print([x ** 2 for x in my_list])

[4, 9, 16, 25]

In [63]:
print([x ** 2 for x in range(2, 11, 2)])

[4, 16, 36, 64, 100]

In [2]:
m = 5
i = 0

while i<m:
    print(i, end = " ")
    i = i +1
print("End")

0 1 2 3 4 End

In [5]:
first_num = int(input("Enter the first Number : "))
end_num = int(input("Enter the Last Number : "))

while first_num < end_num:
    print(first_num if first_num%2 == 0 and first_num < end_num else " ")
    first_num = first_num + 1

print("End of the sequence")

10

12

14

16

18

20

22

24

26

28

30

32

34

36

38

40

42

44

46

48

End of the sequence

In [11]:
x = int(input("Enter a Number"))
y = 2

while y < x:
    if y == 10:
        break
    else:
        print(y)
        y += 2

2
4
6
8

In [13]:
y = 0

while True:
    x = int(input("Enter The Number :"))

    if x == 0:
        break
    else:
        y = y + x

print("The total of the Entered Numbers is :", y)

The total of the Entered Numbers is : 10

In [19]:
my_list = [3, 8, 15, 10, 9, 7 ,14]

for i in my_list:
    if i%2==1:print(i)
    else:continue

3
15
9
7

In [20]:
my_list = [10, 12, 8]
x, y ,z = my_list
print(x, y , z)

10 12 8

In [23]:
my_tuple = (10, 12, 8)
x, y ,z = my_tuple
print(x, y , z)

10 12 8

In [39]:
my_dict = {
    "name" : "John",
    "age" : "25",
}

for key,value in my_dict.items():
    print(key,value)

for key in my_dict.items():
    print(key)

for value in my_dict.items():
    print (value)

name John
age 25
('name', 'John')
('age', '25')
('name', 'John')
('age', '25')

In [42]:
dict_1 = {'a': 1}
dict_2 = {'b': 2}

dict_3 = dict_1 | dict_2

print(dict_3)

{'a': 1, 'b': 2}

In [45]:
my_dict = {
    'a' : 1,
    'b': 2,
    'c' : 3
}

print(my_dict.get('b'))

2

In [4]:
def sum_calculate (number1, number2):
    return number1 + number2

sum_calculate(2, 3)

5

In [15]:
pi = 3.14

def calculate_area (a):
    return pi*a**2

x = int(input("Enter the Radius of the Circle :"))
calculate_area(x)

153.86

In [23]:
my_list = [4, 8, 12, 5, 9, 7]

def calculate_mean (list):
    total = 0

    for number in list:
        total += number

    print("Total :",total,"/","Number of items :", len(list) )
    return total / len(list)

print(calculate_mean(my_list))

Total : 45 / Number of items : 6
7.5

In [25]:
my_list = [4, 8, 12, 5, 9, 7]

def calculate_mean (list):
    return sum(my_list) / len(my_list)

calculate_mean(my_list)

7.5

In [28]:
my_list = [10, 2, 5, 8, 9, 11, 13]

print(my_list[1:5:1])

print(my_list[1:5:2])

print(my_list[::2])

[2, 5, 8, 9]
[2, 8]
[10, 5, 9, 13]

In [8]:
def calculate_total_cost(item_price, quantity, discount = 0, tax = 0):
    total = item_price * quantity
    discount_price = total * discount/100
    total = total - discount_price
    tax_price = total * tax/100
    total = total + tax_price
    return total

print(calculate_total_cost(10, 3))

print(calculate_total_cost(20, 8, 5))

print(calculate_total_cost(30, 5, 10, 5))

30.0
152.0
141.75