In [13]:
my_list_1 = [10, 20, "Dog", "Cat"]
my_list_2 = []
my_list_2 = my_list_1.copy()

print("Current mylist1 :", my_list_1)
print("Current mylist2 :",my_list_2)

my_list_1[1] = 30

print("New mylist1 :", my_list_1)
print("Unchanged mylist2 :", my_list_2)

Current mylist1 : [10, 20, 'Dog', 'Cat']
Current mylist2 : [10, 20, 'Dog', 'Cat']
New mylist1 : [10, 30, 'Dog', 'Cat']
Unchanged mylist2 : [10, 20, 'Dog', 'Cat']

In [15]:
my_list_1 = [10, 20, 'Dog', 'Cat']
my_list_2 = list(my_list_1)
print(my_list_2)

my_list_1[3] = 'Parrot'

print(my_list_2)

[10, 20, 'Dog', 'Cat']
[10, 20, 'Dog', 'Cat']

In [18]:
my_list_1 = [10, 20, "Dog", "Cat"]
my_list_2 = [1, 5, 20, 30]

my_list_3 = my_list_1 + my_list_2
print(my_list_3)

[10, 20, 'Dog', 'Cat', 1, 5, 20, 30]

In [21]:
# Tuples

my_list_1 = (12, 'Dog', 20) 
print(len(my_list_1))

print(type(my_list_1))

3
<class 'tuple'>

In [22]:
my_list_1 = ("Dog")

print(type(my_list_1))

<class 'str'>

In [23]:
my_list_1 = ("Dog")

print(type(my_list_1))

# This is comes as string

my_list_2 = ("Dog",)

print(type(my_list_2))

# With the comma, It comes as a tuple

<class 'str'>
<class 'tuple'>

In [1]:
my_tuple_1 = ("Dog", "Cat", 10)
my_tuple_1[1] = ("Rat")
print(my_tuple_1)

TypeError: 'tuple' object does not support item assignment

In [4]:
my_tuple_1 = ("Dog", "Cat", 10)

my_list_1 = list(my_tuple_1)

my_list_1[1] = "Rat"

my_tuple_1 = tuple(my_list_1)

print(my_tuple_1, type(my_tuple_1))

('Dog', 'Rat', 10) <class 'tuple'>

In [15]:
my_tuple_1 = (10, 8, 20, 5)
my_tuple_2 = (5, 9, -1)

my_list_1 = list(my_tuple_1)
my_list_1.remove(20)

my_list_2 = list(my_tuple_2)
my_list_3 = my_list_1 + my_list_2

my_list_3.sort()
my_tuple_3 = tuple(my_list_3)

print(my_tuple_3, type(my_tuple_3))

(-1, 5, 5, 8, 9, 10) <class 'tuple'>

In [19]:
# Nested Tuple

my_tuple_1 = ((1, 10, 8), ("Dog", "Cat","Rat"), (True, False))

print(my_tuple_1[0][1], my_tuple_1[1][2], my_tuple_1[2][0])

10 Rat True

In [25]:
# Range

S_1 = range(2, 17, 3)

print(type(S_1))

<class 'range'>

In [31]:
# Dictionaries

dict_1 = {
    "name" : "sugar",
    "price" : 250.50,
    "weight" : "1kg"
}

print(dict_1, type(dict_1))

{'name': 'sugar', 'price': 250.5, 'weight': '1kg'} <class 'dict'>

In [34]:
dict_1 = {
    "name" : "sugar",
    "price" : 250.50,
    "price" : 120.25,
    "weight" : "1kg"
}

print(dict_1)

{'name': 'sugar', 'price': 120.25, 'weight': '1kg'}

In [38]:
dict_1 = {
    "name" : "sugar",
    "price" : 120.25,
    "weight" : "1kg"
}

print(len(dict_1))

3

In [40]:
dict_1 = {
    "name" : "sugar",
    "price" : 120.25,
    "weight" : "1kg"
}

print(dict_1["weight"])

1kg

In [43]:
dict_1 = {
    "name" : "sugar",
    "price" : 120.25,
    "weight" : "1kg"
}

dict_1["price"] = 350.50

print(dict_1)

{'name': 'sugar', 'price': 350.5, 'weight': '1kg'}

In [47]:
dict_1 = {
    "name" : "sugar",
    "price" : 120.25,
    "weight" : "1kg"
}

dict_1.update({"weight":"2kg", "price":250.25})

print(dict_1)

{'name': 'sugar', 'price': 250.25, 'weight': '2kg'}

In [49]:
dict_1 = {
    "name" : "sugar",
    "price" : 120.25,
    "weight" : "1kg"
}

dict_1["color"] = "white"

print(dict_1)

{'name': 'sugar', 'price': 120.25, 'weight': '1kg', 'color': 'white'}

In [52]:
dict_1 = {
    "name" : "sugar",
    "price" : 120.25,
    "weight" : "1kg"
}

dict_1.pop("weight")

print(dict_1)

{'name': 'sugar', 'price': 120.25}

In [58]:
dict_1 = {
    "name" : "sugar",
    "price" : 120.25,
    "weight" : "1kg"
}

dict_1.popitem()

print(dict_1)

{'name': 'sugar', 'price': 120.25}

In [63]:
dict_1 = {
    "name" : "sugar",
    "price" : 120.25,
    "weight" : "1kg"
}

dict_2 = dict_1.copy()

dict_1["price"] = 200.00

print(dict_1, dict_2)

{'name': 'sugar', 'price': 200.0, 'weight': '1kg'} {'name': 'sugar', 'price': 120.25, 'weight': '1kg'}

In [67]:
dict_1 = {
    "name" : "sugar",
    "price" : 120.25,
    "weight" : "1kg"
}

dict_2 = dict(dict_1)

dict_1["price"] = 200.00

print(dict_1, dict_2)

{'name': 'sugar', 'price': 200.0, 'weight': '1kg'} {'name': 'sugar', 'price': 120.25, 'weight': '1kg'}

In [72]:
dict_1 = {
    "name" : "sugar",
    "price" : 120.25,
    "weight" : "1kg"
}

print(dict_1.keys())

dict_keys(['name', 'price', 'weight'])

In [87]:
x = input("Enter a value : ")
y = int(x)%7
print(y==0)

True

In [90]:
x = 5
y = 6

print(x > 1 and y < 10)
print(x > 5 and y < 10)

True
False

In [94]:
x = 5
y = 6

print(x > 1 or y < 10)
print(x > 5 or y > 10)

True
False

In [97]:
x = 5

print( not x > 2)

False

In [110]:
x = input("Enter a number")

y = int(x)

print(0 < y < 100 and y%2 == 1)

False

In [111]:
x = 5
y = 10
z = x & y

print(z)

0

In [112]:
a = 10

if a < 0:
    print("This is a negative number")
elif a > 0:
    print("This is a positive number")
else:
    print("This is 0")

This is a positive number

In [124]:
marks = input("Enter the number")

marks = int(marks)

if 100 >= marks >= 85:
    print("Your grade is A")
elif 85 > marks >= 75:
    print("Your grade is B")
elif 75 > marks >= 65:
    print("Your grade is C")
elif 65 >= marks >= 55:
    print("Your grade is D") 
elif 0 > marks > 55:
    print("Your grade is F")
else:
    print("Invalid mark")

Your grade is D

In [ ]:
a = input("Enter the First Number")

b = input("Enter the Second Number")

c = input("Enter the Third Number")

a = int(a)
b = int(b)
c = int(c)

if a > b :
    if a > c :
        print("A is the biggest number and the number is ", a)
    else :
        print("C is the biggest number the number is ", c)
elif b > c:
    print("B is the biggest number the number is", b)
else :
    print("C is the biggest number the number is", c)

A is the biggest number