In [5]:
print("hello")

hello

In [4]:
a = 10
b = 5
c = a + b
print(c)

15

In [7]:
a = 200
print(a)
print(type(a))
print("Type of variable having value", a , " is ", type(a))

200
<class 'int'>
Type of variable having value 200  is  <class 'int'>

In [6]:
num_1 = 2.5e4
print(num_1, type(num_1))

25000.0 <class 'float'>

In [5]:
num_1 = 5
num_2 = 12.7
a = int(num_2)
c = float(num_1)
b = c + a
print(a, type(a))
print(c, type(c))
print(b, type(b))

12 <class 'int'>
5.0 <class 'float'>
17.0 <class 'float'>

In [11]:
my_list = [10, 20, 30, 40]
print(my_list, type(my_list))

[10, 20, 30, 40] <class 'list'>

In [10]:
my_list = [10, 20, 30, 40]
print(my_list[2])

30

In [9]:
my_list = [10, 20, 30, 40]
my_list[2] = 35
print(my_list[2])

35

In [12]:
my_list = [10, 20, 30, 40, 50]
print(len(my_list))

5

In [13]:
my_list = [10, 20, 30, 40, 50]
print(my_list[-1])

50

In [14]:
my_list = [10, 20, 30, 40, 50]
print(my_list[2:])

[30, 40, 50]

In [15]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80]
print(my_list[3:6])

[40, 50, 60]

In [16]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80]
print(my_list[:5])

[10, 20, 30, 40, 50]

In [18]:
my_list = [1, 10, 10, "cat", 8, True]
my_list[2:4] = ["Dog", 19.0]
print(my_list)

[1, 10, 'Dog', 19.0, 8, True]

In [21]:
my_list = [1, 10, 10, "cat", 8, True]
my_list.insert(3, "Dog")
print(my_list, len(my_list))

[1, 10, 10, 'Dog', 'cat', 8, True] 7

In [23]:
my_list = [1, 10, 10, "cat", 8, True, 8, True]
my_list.append("car")
print(my_list, len(my_list))

[1, 10, 10, 'cat', 8, True, 8, True, 'car'] 9

In [26]:
my_list = [1, 10, 10, "Cat", 8, True]
new_list = ["Bus", False, 17]

my_list.extend(new_list)
print(my_list, len(my_list))

[1, 10, 10, 'Cat', 8, True, 'Bus', False, 17] 9

In [27]:
my_list = [1, 10, 10, "Cat", 8, True]
my_list.pop(2)
print(my_list, len(my_list))

[1, 10, 'Cat', 8, True] 5

In [28]:
my_list = [1, 10, 10, "Cat", 8, True]
del my_list[2]
print(my_list, len(my_list))

[1, 10, 'Cat', 8, True] 5

In [31]:
my_list = [1, 10, 10, "Cat", 8, True]
del my_list

In [33]:
my_list = [1, 10, 10, "Cat", 8, True]
my_list.clear()
print(my_list, len(my_list))

[] 0

In [36]:
my_list = ["dog", "apple", "parrot", "banana"]
my_list.sort()
print(my_list)

['apple', 'banana', 'dog', 'parrot']

In [38]:
my_list = ["dog", "apple", "Parrot", "banana"]
my_list.sort()
print(my_list)

['Parrot', 'apple', 'banana', 'dog']

In [44]:
my_list = ["dog", "apple", "Parrot", "banana"]
my_list.sort(key=str.lower)
print(my_list)

['apple', 'banana', 'dog', 'Parrot']

In [46]:
my_list = ["dog", "apple", "Parrot", "banana"]
my_list.sort(reverse=True)
print(my_list)

['dog', 'banana', 'apple', 'Parrot']

In [45]:
my_list = ["dog", "apple", "Parrot", "banana"]
my_list.sort(reverse=True, key=str.lower)
print(my_list)

['Parrot', 'dog', 'banana', 'apple']

In [47]:
my_list = ["dog", "apple", "Parrot", "banana"]
my_list.reverse()
print(my_list)

['banana', 'Parrot', 'apple', 'dog']

In [108]:
my_list1 = [-10, -18, 12, 5, 7, 12, -3]
my_list2 = [8, 4, -3, 9, 2, 11]
my_list = my_list1 + my_list2
my_list.sort()
print(my_list)
print(len(my_list))

var = int(len(my_list)/2)
print("Median of the Combined Set is", my_list[var] , "And It's Position is", var + 1)

q1 = len(my_list[:var-1])
q1_first = int(q1/2)
q1_second = q1_first + 1
print("The index of the Combined Set of Q1 positions are", q1_first, "and", q1_second)
q1_value = (my_list[q1_first] + my_list[q1_second])/2
print("The Value of the Q1 is", q1_value)

q3 = len(my_list[var+1:])
q3_first = int(q3/2 + var)
q3_second = int(q3/2 + 1 + var)
print("The index of the Combined Set of Q3 positions are", q3_first, "and", q3_second)
q3_value = (my_list[q3_first] + my_list[q3_second])/2
print("The Value of the Q3 is", q3_value)

[-18, -10, -3, -3, 2, 4, 5, 7, 8, 9, 11, 12, 12]
13
Median of the Combined Set is 5 And It's Position is 7
The index of the Combined Set of Q1 positions are 2 and 3
The Value of the Q1 is -3.0
The index of the Combined Set of Q3 positions are 9 and 10
The Value of the Q3 is 10.0